.cell-main {
 position: relative;
 height: 79px;
 width: 426px;
 list-style: none;
 border-radius: 7px;
 box-shadow: 0 7px 23px 0 rgba(186, 184, 230, 0.31);
 &:last-of-type .cell-main__border {
  top: 1px;
 }
 &:last-of-type .cell-main__and {
  top: 24px;
 }
 &:last-of-type .cell-main__text {
  top: 25px;
 }
 &:last-of-type .cell-main__button {
  top: 23px;
  left: 373px;
 }

 &__and {
  position: absolute;
  top: 23px;
  left: -143px;
  height: 28px;
  width: 42px;
  opacity: 0.4;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.35px;
  color: #4b597b;
 }

 &__border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 12px;
  border-radius: 7px 0 0 7px;
  background: linear-gradient(0deg, #7176f7 0%, #ca75f1 180%);
  box-shadow: 0 7px 19px 0 rgba(125, 118, 246, 0.31);
  &:before {
   content: '';
   display: block;
   position: relative;
   top: 50%;
   left: -75px;
   height: 1px;
   width: 76px;
   background-color: #4b597b;
   opacity: 0.3;
  }
 }

 &__text {
  position: absolute;
  top: 26px;
  left: 40px;
  height: 28px;
  width: 315px;
  overflow: hidden;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.35px;
  color: #4b597b;
 }

 &__button {
  position: absolute;
  top: 24px;
  left: 371px;
 }
}
