.modal,
.modal__overlay {
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
}

.modal {
 &__overlay {
  opacity: 0.2;
  background: linear-gradient(312.39deg, #ed88ff -32%, #1868f1 100%);
 }
 &__content {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 380px;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  background: linear-gradient(312.39deg, lighten(#ed88ff, 15%) -32%, lighten(#1868f1, 25%) 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 }
 &__checkbox {
  position: absolute;
  top: 17px;
  left: 230px;
  height: 20px;
  width: 20px;
  // opacity: 0;
  cursor: pointer;
  &-label {
   position: absolute;
   top: 15px;
   left: 90px;
  }
 }
 &__input {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translatex(-50%);
  height: 30px;
  width: 250px;
  line-height: 30px;
  font-size: 17px;
  border-radius: 2px;
  outline: none;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  &:focus {
   border: 2px solid black;
  }
 }
}
