@font-face {
 font-family: 'poppins';
 src: url('./Poppins-Medium.ttf'), url('./Poppins-Bold.ttf');
}
@font-face {
 font-family: 'brandon';
 src: url('./brandon-grotesque-black-58a8a3e824392.otf');
}
