.cell-advanced__list-item {
 &:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -27.5px;
  height: 0.8px;
  width: 26.5px;
  background-color: #5d6c8d;
  opacity: 0.3;
 }

 &-or {
  left: -97px;
  height: 28px;
  width: 25px;
 }

 &-button {
  position: absolute;
  top: 10.5px;
  right: 10.5px;
 }
}
