.background-elements > * {
 position: absolute;
}

.mask-copy-3 {
 top: 29px;
 left: -249px;
 height: 813px;
 width: 572px;
 background-image: url('../assets/mask-copy-3.svg');
 background-repeat: no-repeat;
 background-position: 151% 48.5%;
}

.line-6 {
 top: 235px;
 left: 71px;
 height: 50px;
 width: 50px;
 z-index: 1;
 &__line {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 78px;
  transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px)) rotate(45deg);
  border-radius: 5px;
  background-color: #ffffff;
 }
}
