.modal,
.modal__overlay {
 position: fixed;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 z-index: 9;
}

.modal {
 &__overlay {
  opacity: 0.4;
  background: linear-gradient(312.39deg, #ed88ff -32%, #1868f1 100%);
 }

 &__content {
  position: relative;
  z-index: 10;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 380px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  background: linear-gradient(312.39deg, lighten(#ed88ff, 5%) -32%, lighten(#1868f1, 10%) 100%);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
 }

 &__button-add {
  position: absolute;
  bottom: 15px;
  left: 50%;
  height: 24px;
  width: 54px;
  transform: translateX(-50%);
  font-family: inherit;
  font-size: 14px;
  border: 1px solid black;
  background-color: transparent;
  &:hover {
   border: 2px solid black;
   background-color: rgba(255, 255, 255, 0.2);
  }
 }

 &__button-close {
  box-sizing: content-box;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  border-radius: 0 4px 0 0;
  border: none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: transparent;
  &:hover {
   border-left: 2px solid black;
   border-bottom: 2px solid black;
   background-color: rgba(255, 255, 255, 0.2);
  }
 }

 &__input {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 30px;
  width: 252px;
  transform: translateX(-50%);
  line-height: 30px;
  font-size: 17px;
  text-indent: 4px;
  border-radius: 2px;
  outline: none;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  &:focus {
   border: 2px solid black;
  }
 }
}

.checkbox {
 position: absolute;
 height: 0;
 width: 0;
 opacity: 0;
 cursor: pointer;

 &-container {
  position: relative;
  top: 24px;
  left: 108px;
  padding-left: 33px;
  margin-bottom: 12px;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
 }

 & input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
 }

 &-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid black;
  &:after {
   content: '';
   display: none;
   position: absolute;
  }
 }
}

.checkbox-container:hover .checkbox-checkmark {
 border: 2px solid black;
 background-color: rgba(255, 255, 255, 0.2);
}

.checkbox:checked ~ .checkbox-checkmark {
 border: 2px solid black;
 background-color: rgba(255, 255, 255, 0.2);
}

.checkbox-checkmark:after {
 content: '';
 display: none;
 position: absolute;
}

.checkbox:checked ~ .checkbox-checkmark:after {
 display: block;
}

.checkbox-checkmark:after {
 top: -0.5px;
 left: 4.5px;
 height: 12.5px;
 width: 5.5px;
 transform: rotate(30deg);
 border: solid black;
 border-width: 0 3.5px 3.5px 0;
}

.cell-advanced .modal__content {
 height: 110px;
}

.cell-advanced .modal__input {
 top: 26%;
}

.cell-advanced .checkbox-container {
 display: none;
}
