.panel {
 height: 990px;
 width: 800px;
 position: absolute;
 bottom: 98px;
 left: 50%;
 z-index: 1;
 transform: translateX(-50%);
 border-radius: 5px;
 box-shadow: 0 0 37px rgba(225, 230, 255, 0.54);
 background-color: rgb(255, 255, 255);
}
