* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body.active-modal {
 overflow-y: hidden;
 margin-right: 16.8px;
}

.wrapper {
 height: 1435px;
 width: 1000px;
 margin: 0 auto;
 position: relative;
 overflow: hidden;
}
